/* src/components/Footer.css */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #fbd5b5;
    transition: transform 0.3s ease-in-out;
}

.footer:hover {
    transform: scale(1.05);
}

.footer p {
    margin: 0;
    font-size: 18px;
    color: #555;
    transition: transform 0.3s ease-in-out;
}

.footer p:hover {
    transform: scale(1.05);
}
